extends template
block content
    div
        p
        | Відновлення паролю,
        br
        | Перейдіть по цій силці щоб відновити пароль.
        p
        | Силка: #{resetPasswordUrl}
        br
        p
        | Якщо ви не використаєте це посилання протягом 10 хвилин, воно втратить силу. Щоб отримати нове посилання для скидання паролю, відвідайте: #{resetUrl}
